html, body{
	height: 100%;
	padding: 0px;
	margin:0px;
	background: #f6f6f6;
	color: red;
}
.page-wrapper{
	min-height: 100%;
}
.footer{
	background: gray;
	color: red;
	height: 400px;
	position: relative;
}
.footer.footer-content{
	border: 1px solid red;
	height: 350px;
}
.footer.footer-bottom{
	background:red;
	color: black;
	height:50px;
	width: 100px;
	text-align: center;
	position: absolute;
	left: 2px;
	padding-top: 20px;
}